<!DOCTYPE html>
  <html>
    <head>
      <title>Ccc</title>
      <link rel=\"stylesheet\" media=\"all\" href=\"/assets/application-04911c0942d4820f675b06242839bb45091e97b8dae29c04c18719e2826efb41.css\" data-turbolinks-track=\"reload\"/>
      <script src=\"/assets/application-7cb2094ee9fae1f92c858f20f623044e3afd3e63fcb45485f4c9d0e1f82c348c.js\" data-turbolinks-track=\"reload\"></script>
    </head>
    <body>
    <div class="container">
      <h1>StaticPages#about</h1>
      <p>Find me in app/views/static_pages/about.html.erb</p>

      <p>My name is Skylar.</p>
    </div>
    </body>
  </html>
