<table class='table'>
  <tr>
    <td><%= raw(@video.url) %></td>
    <td>
      <table>
        <tr><td class='lead'>...<%= @video.title %></td></tr>
        <tr><td><%= video_stats(@video) %></td></tr>
        <tr><td><%= channel(@video) %></td></tr>
      </table>
    </td>
  </tr>
</table>
